.expert-insight-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.expert-insight-content {
  flex: 1;
  padding: 120px 20px 60px;
  text-align: center;
}

.expert-insight-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 1.2rem;
  margin-bottom: 40px;
}



.expert-insight-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
