.ImageZoom__container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  border-radius: 12px;
}

.ImageZoom__image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.ImageZoom__container:hover .ImageZoom__image {
  transform-origin: var(--x, 50%) var(--y, 50%);
  transform: scale(2);
}
