.bubbles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.bubble {
  position: absolute;
  bottom: -150px;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 50%;
  animation: rise 25s infinite;
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(0.5);
    opacity: 0;
  }
}

.bubble:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 10%;
  animation-duration: 20s;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 15s;
  animation-delay: 3s;
}

.bubble:nth-child(3) {
  width: 60px;
  height: 60px;
  left: 35%;
  animation-duration: 30s;
  animation-delay: 7s;
}

.bubble:nth-child(4) {
  width: 100px;
  height: 100px;
  left: 50%;
  animation-duration: 22s;
  animation-delay: 5s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 65%;
  animation-duration: 18s;
  animation-delay: 1s;
}

.bubble:nth-child(6) {
  width: 50px;
  height: 50px;
  left: 80%;
  animation-duration: 28s;
  animation-delay: 4s;
}

.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 90%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 55%;
  animation-duration: 35s;
  animation-delay: 10s;
}

.bubble:nth-child(9) {
  width: 70px;
  height: 70px;
  left: 25%;
  animation-duration: 19s;
  animation-delay: 6s;
}

.bubble:nth-child(10) {
  width: 45px;
  height: 45px;
  left: 75%;
  animation-duration: 24s;
  animation-delay: 8s;
}
